<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) Microsoft Corporation. All rights reserved.
This code is licensed under the Visual Studio SDK license terms.
THIS CODE IS PROVIDED *AS IS* WITHOUT WARRANTY OF
ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING ANY
IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR
PURPOSE, MERCHANTABILITY, OR NON-INFRINGEMENT.
-->

<!-- 
  Visual Studio Integration for IronPython
  Console tool window, language service, project type, and MSBuild support for IronPython
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include $(var.VariablesFile)?>
  
  <Fragment>
    <ComponentGroup Id="CompGroup_Integration">
      <ComponentRef Id="Comp_LanguageService" />
    </ComponentGroup>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="SystemFolder" Name="System32" />

      <Component Id="Comp_LanguageService" DiskId="1" Guid="$(var.Comp_LanguageService_Guid)">
        <File Id="File_NShader.dll" Name="NShader.dll" Source="$(var.IntegrationBinPath)\" />
        <?include NShader.wxi ?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>