<?xml version="1.0" encoding="UTF-8"?>
<!--
  Visual Studio Integration for NShader
  Installer root features, upgrades, and product definition
-->

<?define ProductShortName = "NShader" ?>
<?define ProductDescription = "NShader is an extension to Visual Studio 2008 that provides syntax highlighting for various shader languages including HLSL - GLSL - CG" ?>
<?define ProductVersion = "1.1.0" ?>
<?define ProductVersionText = "1.1" ?>
<?define Manufacturer = "Alexandre Mutel" ?>
<?define UpgradeCode = "737E3D12-4902-4ecc-82E4-1EAFA99CA5B7" ?>
<?define ProductCode = "24E159B3-9D95-48cc-8A29-C48EB4184487" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include $(var.VariablesFile)?>

  <Product Id="$(var.ProductCode)" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="$(var.ProductLanguage)" Manufacturer="$(var.Manufacturer)">
    <Package Compressed="yes" Description="$(var.ProductDescription). $(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" InstallerVersion="200" ShortNames="no" Manufacturer="$(var.Manufacturer)" Platforms="Intel" />
    <Media Id="1" Cabinet="NShader.cab" EmbedCab="yes" />

    <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Specify Icon for Add and Remove programs -->
    <Icon Id='NShader.dll.exe' SourceFile='Bitmaps\PackageIcon16x16.ico'/>

    <PropertyRef Id="VS90DEVENV" />
    <PropertyRef Id="VS90_ROOT_FOLDER" />
<!--    <PropertyRef Id="VS2010DEVENV"/> -->
    <CustomActionRef Id="VS90Setup" />

    <!-- Properties -->
    <Property Id="ARPPRODUCTICON" Value="NShader.dll.exe" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPHELPLINK" Value="http://msdn.microsoft.com/vstudio/extend/" />
    <Property Id="ARPURLINFOABOUT" Value="http://msdn.microsoft.com/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://msdn.microsoft.com/vstudio/extend/" />

    <!-- Launch conditions -->
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="A later version of [ProductName] is already installed."> NOT NEWERVERSIONDETECTED </Condition>
    <Condition Message="[ProductName] requires Visual Studio 2008. ([VS90DEVENV])"> VS90DEVENV </Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id="INSTALLDIR" Name="NShader">
        </Directory>
      </Directory>
    </Directory>
    
        <!-- Root feature -->
    <Feature Id="Feature_NShader" ConfigurableDirectory="INSTALLDIR" Absent="disallow" AllowAdvertise="no" Display="hidden" Level="1" Title="NShader Integration">
      <ComponentGroupRef Id="CompGroup_Integration" />
    </Feature>

    <!-- Prevent downgrading -->

    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <CustomAction Id="CA_BlockIfVSIsNotInstalled" Error="[ProductName] requires Visual Studio 2008. ([DEVENV_EXE_PATH])" />

    <!-- UI ProgressText -->
    <UI>
      <ProgressText Action="VS90Setup" Template="[1]">Registering [ProductName] to Visual Studio 2008... (this may take a few minutes)</ProgressText>
    </UI>

    <!-- Sequences -->
    <InstallExecuteSequence>
      <Custom Action="CA_BlockIfVSIsNotInstalled" Before="CostInitialize">(NOT VS90_ROOT_FOLDER OR NOT VS90DEVENV) AND NOT Installed</Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERVERSIONDETECTED</Custom>
      <RemoveExistingProducts After="InstallValidate" />
      <!-- Runs during both install and uninstall -->
      <Custom Action="VS90Setup" Before="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="CA_BlockIfVSIsNotInstalled" Before="CostInitialize">(NOT VS90_ROOT_FOLDER OR NOT VS90DEVENV) AND NOT Installed</Custom>
    </InstallUISequence>

    <!-- User interface -->
    <UIRef Id="WixUI_Minimal" />
    <!--<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
    <UIRef Id="NShaderInstallDirUI" />-->
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\banner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
  </Product>
</Wix>